.Header {
  position: relative;
  width: 100vw;
  height: calc(100vh - var(--panelSize));
}

.LeftPanel {
  position: absolute;
  width: 50vw;
  height: var(--panelSize);
}

.RightPanel {
  position: absolute;
  left: 50%;
  width: 50vw;
  height: var(--panelSize);
}

.dividerY {
  z-index: 9999;
  position: absolute;
  height: 50%;
  width: 3px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + var(--headerSize)/2));
  opacity: 0.15;
  border-radius: 20px;
}

.dividerX {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: translateY(-50%);
  top: 50%;
}

.RelativeWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.input {
  position: relative;
  height: 4ch;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 15ch;
}

.button {
  position: relative;
  background-color: transparent;
  border: solid 2px #4caf50;
  color: #4caf50;
  padding: 4px 8px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

.button:hover {
  background-color: #4caf50;
  color: white;
}
