.Header {
  position: relative;
  width: 100vw;
  height: calc(100vh - var(--panelSize));
}

.LeftPanel {
  position: absolute;

  width: 50vw;
  height: var(--panelSize);
}

.RightPanel {
  position: absolute;
  left: 50%;
  width: 50vw;
  height: var(--panelSize);
}

.dividerY {
  z-index: 9999;
  position: absolute;
  height: 50%;
  width: 3px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.15;
  border-radius: 20px;
  transform: translateY(-50%);
}

.TopRightPanel {
  position: relative;
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dividerX {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: translateY(-50%);
  top: 50%;
}

.BottomRightPanel {
  position: relative;
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RightPanelRelativeWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
